/*Base style*/
:root{
--main-text-color: #434455;
}
body{
font-family: 'Roboto', sans-serif;
color: #434455;
background-color: #FFFFFF;
}
ul,
ol {
list-style-type: none;
}
a{
text-decoration: none;
}
img{
display: block;
}
.visually-hidden {
position: absolute;
white-space: nowrap;
width: 1px;
height: 1px;
overflow: hidden;
border: 0;
padding: 0;
clip: rect(0 0 0 0);
clip-path: inset(50%);
margin: -1px;
}
.container{
width: 1158px;
margin: 0 auto;
padding: 0 15px;
}
.link{
text-decoration: none;
}
.list{
list-style: none;
display: flex;
gap: 40px;
}
    
/*Header styles*/
.header{
border-bottom: 1px solid #e7e9fc;
}
.header-nav{
display: flex;
align-items: center;
}
.header-socials{
display: flex;
gap: 40px
}
.header-span{
color: #2e2f42;
}
.header-div{
display: flex;
}
.logo{
font-family: 'Raleway', sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
margin-right: 76px;
display: inline-block;
margin-bottom: 16px;
}
.list-item{
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
padding: 24px 0;
}
.list-item:hover{
color: #404bbf;
}
.list-item:focus{
color: #404bbf;
}
.address{
font-style: normal;
}
.address-link{
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.address-link:hover{
color: #404bbf;
}
.address-link:focus{
color: #404bbf;
}
    
/*Hero styles*/
.hero{
background-color: #2e2f42;
padding: 188px 0;
}
.hero-title{
font-size: 56px;
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;
color: #ffffff;
max-width: 496px;
}
.hero-button{
background-color: #4D5AE5;
font-family: 'Roboto', sans-serif;
font-size: 16px;
font-weight: 500;
font-size: 16;
line-height: 1.5;
letter-spacing: 0.04em;
letter-spacing: 0.04em;
color: #ffffff;
cursor: pointer;
display: block;
min-width: 169px;
height: 56px;
border: none;
border-radius: 4px;
}
.hero-button:hover{
background-color: #404BBF;
}
.hero-button:focus{
background-color: #404BBF;
}
    
/*Benefits styles*/
.benefits{
padding: 120px 0;
}
.benefits-title{
margin-bottom: 8px;
}
.benefits-socials{
display: flex;
gap: 24px;
}
.benefits-list{
width: calc((100% - 72px) / 4);
}
    
/*Intent styles*/
.intent{
padding: 120px 0;
}
.intent-title{
text-align: center;
margin-bottom: 72px;
}
.intent-socials{
gap: 24px;
}
.intent-list{
width: calc((100% - 48px) / 3);
}
    
/*Team styles*/
.team{
padding: 120px 0;
}
.team-title{
text-align: center;
margin-bottom: 72px;
}
.team-list{
border-radius: 0px 0px 4px 4px;
}
.team-section{
text-align: center;
}
.team-socials{
gap: 24px;
}
.team-container{
padding: 32px 0;
}
.team-title-card{
text-align: center;
margin-bottom: 8px;
}
    
/*Footer styles*/
.footer{
background-color: #2e2f42;
padding: 100px 0;
}
.footer-span{
color: #f4f4fd;
}
.footer-section{
line-height: 1.5;
color: #F4F4FD;
letter-spacing: 0.02em;
max-width: 264px;
}
    
/*navigation-portfolio*/
.navigation{
padding-top: 96px;
}
.navigation-button{
background-color: #F4F4FD;
font-family: 'Roboto', sans-serif;
font-size: 16px;
font-weight: 500;
font-size: 16;
line-height: 1.5;
letter-spacing: 0.04em;
letter-spacing: 0.04em;
color: #4d5ae5;
cursor: pointer;
padding: 12px 24px;
border: 1px solid #e7e9fc;
border-radius: 4px;
}
.navigation-button:hover{
background-color: #404BBF;
color: #FFFFFF;
border: 1px solid transparent;
}
.navigation-button:focus{
background-color: #404BBF;
color: #FFFFFF;
border: 1px solid transparent;
}
.navigation-socials{
justify-content: center;
gap: 24px;
margin-bottom: 72px;
}
.navigation-socials-portfolio{
flex-wrap: wrap;
column-gap: 24px;
row-gap: 48px;
}
.navigation-container{
padding: 32px 16px;
border: 1px solid #e7e9fc;
border-top: none;
margin-bottom: 8px;
}
.navigation-title{
margin-bottom: 8px;
}

/*container-portfolio*/
.header-container-portfolio{
display: flex;
width: 1158px;
margin: 0 auto;
padding: 0 15px;
}