/*Base style*/
:root{
    --main-text-color: #434455;
    }
    body{
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    }
    ul,
    ol {
        list-style-type: none;
    }
    a{
    text-decoration: none;
    }
    img{
    display: block
    }
    
    /*Header styles*/
    .header{
    border-bottom: 1px solid #e7e9fc
    }
    .hrader-nav{
    
    }
    .header-socials{
    
    }
    .header-span{
    color: #2e2f42;
    }
    .header-div{
    display: flex;
    }
    .logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    }
    .link{
    text-decoration: none;
    }
    .list{
    list-style: none;
    }
    .list-item{
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    }
    .list-item:hover{
    color: #404bbf;
    }
    .list-item:focus{
    color: #404bbf;
    }
    .address{
    font-style: normal;
    }
    .address-link{
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    }
    .address-link:hover{
    color: #404bbf;
    }
    .address-link:focus{
    color: #404bbf;
    }
    
    /*Hero styles*/
    .hero{
    background-color: #2e2f42;
    }
    .hero-title{
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    }
    .hero-button{
    background-color: #4D5AE5;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-size: 16;
    line-height: 1.5;
    letter-spacing: 0.04em;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    }
    .hero-button:hover{
    background-color: #404BBF;
    }
    .hero-button:focus{
    background-color: #404BBF;
    }
    
    /*Benefits styles*/
    .benefits{
    
    }
    .benefits-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    }
    .benefits-section{
    line-height: 1.5;
    letter-spacing: 0.02em;
    }
    
    /*Intent styles*/
    .intent{
    
    }
    .intent-title{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    }
    
    /*Team styles*/
    .team{
    background-color: #F4F4FD;
    }
    .team-title{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    }
    .team-list{
    background-color: #FFFFFF;
    }
    .team-section{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    }
    
    /*Footer styles*/
    .footer{
    background-color: #2e2f42;
    }
    .footer-span{
    color: #f4f4fd;
    }
    .footer-section{
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
    }
    
    /*navigation*/
    .navigation-button{
        background-color: #F4F4FD;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 500;
        font-size: 16;
        line-height: 1.5;
        letter-spacing: 0.04em;
        letter-spacing: 0.04em;
        color: #4d5ae5;
        cursor: pointer;
    }
    .navigation-button:hover{
    background-color: #404BBF;
    color: #FFFFFF;
    }
    .navigation-button:focus{
    background-color: #404BBF;
    color: #FFFFFF;
    }